.vertical-divider {
  border-right: #e9e9e9 1px solid;
}

.signup-login-content {
  background-image: url("http://www.samsung-wallpapers.com/uploads/allimg/131025/1-131025103112.jpg");
  background-size: cover;

  .signup-form {
    margin-top: 25%;
    background: transparent;
  }
  .login-form {
    margin-top: 25%;
    background: transparent;
  }

  label {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .button {
    opacity: 0.8;
  }
}

.hidden {
  display: none;
}
